# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# MySQL Workbench backups
*.bak

# Temporary files
*.tmp